

.App {
  height: 2000px;
  width: 100vw;
}

.Navbar container {
  margin: 0 !important;
}

.card {
  position: absolute;
  left: -2000px;
  animation-name: slide;
  animation-duration: 1s;
  animation-delay: 250ms;
  -webkit-animation-fill-mode: forwards;
  margin: auto;
  margin-top: 1rem;
}

#avatar {
  position: relative;
  left: -2000px;
  animation-name: slide2;
  animation-duration: 1s;
  animation-delay: 100ms;
  -webkit-animation-fill-mode: forwards;
}

.aboutMe {
  position: relative;
  left: -2000px;
  animation-name: slide2;
  animation-duration: 1s;
  animation-delay: 1000ms;
  -webkit-animation-fill-mode: forwards;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  z-index: 1;
}

@keyframes slide {
  100% {left: 10%;}
}

@keyframes slide2 {
  100% {left: 0;}
}
